.header {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-h);
    width: var(--width-content);
    height: var(--height-header);
    color: var(--color-brown);
    text-align: center;
}