.photoalbum {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.photo_card {
    position: relative;
}

.photo_img {
    display: block;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.photo_text {
    display: none;
    position: absolute;
    inset: 0;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.4);

    color: var(--color-light-brown);
    font-family: var(--font-family-h);
    font-size: var(--font-size-p);
    text-align: center;
}

.photo_card:hover .photo_text {
    display: flex;
}